<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="sk.ivanmolcan.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="D:/Doc/Programovanie/Automation Testing/Udemy/Rahul/Projects/E2EProject/src/test">
        <classes>
            <class name="sk.ivanmolcan.HomePage">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="valdateNavigation">
        <classes>
            <class name="sk.ivanmolcan.ValidateNavigationBar">
                <methods>
                    <include name="baseTitle"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="validateTitle">
        <classes>
            <class name="sk.ivanmolcan.ValidateTitle">
                <methods>
                    <include name="validateTitleApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>