<component name="libraryTable">
  <library name="TestNG">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../../../../Materials/TestNG" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../../../../Materials/TestNG" recursive="false" />
  </library>
</component>